
<div class="container">

    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

        <%= render 'devise/shared/icon'%>
            <div class="panel-body" >

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {:class => 'form-horizontal'}) do |f| %>
                <%= devise_error_messages! %>

                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <%= f.email_field :email, class: "form-control", placeholder: "eg: john@abc.com",autofocus: true %>
                </div>
                </br>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <div class="input-group">

                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

                  <%= f.password_field :password, class: "form-control",placeholder:"Password",autocomplete: "off" %>
                </div>
              </br>

                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <%= f.password_field :password_confirmation, class: "form-control",placeholder:"Password",autocomplete: "off" %>
                </div>
              </br>

              <div class="form-group">
                <div class="col-sm-12 controls">

                <%= f.submit "Signup" ,class: "btn btn-primary pull-right glyphicon glyphicon-log-in" %>
              </div>
              </div>
              <% end %>

              <%= render "devise/shared/links" %>

            </div>
        </div>
    </div>
</div>
<%= render 'devise/shared/svn'%>
