
<div class="container">

    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

        <%= render 'devise/shared/icon'%>
            <div class="panel-body" >
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {:class => 'form-horizontal'}) do |f| %>
                <%= devise_error_messages! %>
                <div class="text-center">
                  <%= image_tag "avatar.png",id: "blah",class: "avatar img-circle", width:"30%", height:"30%" %>
                  <h6>Upload a  photo...</h6>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                    <%= f.file_field :image, class: "form-control",autofocus: true,id:"imgInp" %>
                  </div>
                </div>
                </br>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <%= f.text_field :name, class: "form-control", placeholder: "eg: Jhon Snow",autofocus: true,required:true %>
                </div>
              </br>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  <%= f.email_field :email, class: "form-control", placeholder: "eg: john@abc.com",autofocus: true,required:true %>
                </div>
                </br>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <div class="input-group">

                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

                  <%= f.password_field :password, class: "form-control",placeholder:"Password",autocomplete: "off" ,required:true%>
                </div>
              </br>

                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <%= f.password_field :password_confirmation, class: "form-control",placeholder:"Password Confirmation",autocomplete: "off",required:true %>
                </div>
              </br>

              <div class="form-group">
                <div class="col-sm-12 controls">

                <%= f.submit "Signup" ,class: "btn btn-primary pull-right glyphicon glyphicon-log-in" %>
              </div>
              </div>
              <% end %>

              <%= render "devise/shared/links" %>

            </div>
        </div>
    </div>
</div>
<%= render 'devise/shared/svn'%>

<script>
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#imgInp").change(function(){
    readURL(this);
});
</script>
