<%= form_for @movies do |f| %>
<% if @movies.errors.any? %>
  <% @movies.errors.full_messages.each do |error| %>
  <%= error.inspect%>
      <!-- js add_gritter(error, title: "Task1 Notification", sticky: false,time: 5000) %> -->
  <% end%>
  <%end%>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2">
      Title
    </label>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2">
      genre
    </label>
    <div class="col-sm-10">
      <%= f.text_field :genre, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2">
      Plot
    </label>
    <div class="col-sm-10">
      <%= f.text_area :plot, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2">
      Rating
    </label>
    <div class="col-sm-10">
      <%= f.number_field :rating, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2">
      Website
    </label>
    <div class="col-sm-10">
      <%= f.text_field :web, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Add new Moviews",class: "btn btn-success btn-block"%>
    </div>
  </div>
  <%end%>
