<div class="col-md-12">

  <h3>Reviews(<%= @movies.comments.length %>)</h3>
  <%= form_for([movies, movies.comments.new],class:"form-inline") do |f| %>

    <div class="form-group">
      <% if user_signed_in?%>
        <%if current_user.image.present? %>
        <img alt="<% movies.title %>" src="<%= current_user.image_url %>" class="img-thumbnail user-img-img-show" align="middle"/>
        <%else%>
        <%= image_tag "avatar.png",id: "blah",class: "img-thumbnail user-img-img-show",align:"middle" %>
        <% end%>
      <% else %>
        <%= image_tag "avatar.png",id: "blah",class: "img-thumbnail user-img-img-show",align:"middle" %>
      <% end%>

      <%= f.text_area :body,class: "comment-box" %>
    </div>
      <div class="form-group comment-show">

      <%= f.submit "submit",class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
