<div class="col-md-12">
			<h3>
				Movies Details
			</h3>
			<div class="tabbable" id="tabs-467327">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-827709" data-toggle="tab">By Ratings</a>
					</li>
					<li>
						<a href="#panel-277598" data-toggle="tab">By Views</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-827709">
						<% if @movies_rating.present? %>
							<div class="row">
								<% @movies_rating.each do |movies| %>
								<div class="col-md-3">
							    <a href="<%= movie_path(movies)%>">
							    <img alt="Bootstrap Image Preview" src="<%= movies.image_url%>" class="img-rounded image-setting-index" />
							  </a>
							    <h3 class="text-center text-info">
							      <%= movies.title.titleize%>
							    </h3>
							  </div>
								<%end%>
							</div>
						<% else%>
						<p>
							No Movie Present
						</p>
						<% end%>
					</div>
					<div class="tab-pane" id="panel-277598">
						<% if @movies_view.present? %>
							<div class="row">
								<% @movies_view.each do |movies| %>
								<div class="col-md-3">
							    <a href="<%= movie_path(movies)%>">
							    <img alt="Bootstrap Image Preview" src="<%= movies.image_url%>" class="img-rounded image-setting-index" />
							  </a>
							    <h3 class="text-center text-info">
							      <%= movies.title.titleize%>
							    </h3>
							  </div>
								<%end%>
							</div>
						<% else%>
						<p>
							No Movie Present
						</p>
						<% end%>
					</div>
				</div>
			</div>
		</div>
