<% if @movies.present? %>
  <%= render partial: "slider",locals: { movies: @movies} %>
<% else %>
<%= render partial: "slider_static" %>
<% end%>
<%if @movies_view.present? %>
  <h3>
    Top Views Movies
  </h3>
  <%= render partial: "index_div",locals: { movies: @movies_view} %>
  <div class="col-md-12">
    <%= link_to "Browse More",movies_detail_path(view: "views"), class: "browse-index"%>
  </div>
<% end %>
<% if @movies_rating.present? %>
    <div class="top-rated-index">
      <h3>
        Top Rated Movies
      </h3>
      <%= render partial: "index_div",locals: { movies: @movies_rating} %>
    </div>
    <div class="col-md-12">
      <%= link_to "Browse More",movies_detail_path(view: "rating"), class: "browse-index"%>
    </div>
<% end%>
