<%= render partial: "movie_detail",locals: { movies: @movies} %>
<div class="row up-margin">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">

					<%if @movies.comments.present? %>
					<div class="row back-color">
					</br>

							<%@movies.comments.order('created_at desc').limit(3).reverse.each do |comment| %>
							<div class="col-md-3">
								<% if comment.user.image.present? %>
								<img alt="<% comment.user.name %>" src="<%= comment.user.image%>" class="img-thumbnail user-img-show" align="middle"/>
					      <% else %>
					        <%= image_tag "avatar.png",id: "blah",class: "img-thumbnail user-img-show",align:"middle" %>
					      <% end%>

							</div>
							<div class="col-md-9 comment">
								<h3><%=  comment.user.name.titleize%></h3>
								<p>
									<%= comment.body%>
								</p>
							</div>

							<div class="clearfix"></div>
							</br>
							<%end%>
							<div class="col-md-12">
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" style="float: right;">
								  More Reviews
								</button>
							</div>
							<%= render partial: "movie_comment_show",locals: {movies: @movies}%>
						</div>
						<%else%>
						Be the first to comment
					<%end%>

				<div class="row">
								<%= render partial: "movie_comment",locals: { movies: @movies}  %>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<h4>Top 10 list of <%= @movies.genre%></h4>
						</h3>
					</div>
					<div class="panel-body table-responsive">
					  <table class="table">
					    <thead>
					      <tr>
					        <th>
					          #
					        </th>
					        <th>
					          Name
					        </th>
					        <th>
					          Genre
					        </th>
					      </tr>
					    </thead>
							<tbody>
								<% if @movies_list.present? %>
								<% @movies_list.each_with_index do |movie_list,index| %>

									<%= render partial: "movie_top_list",locals: { movies: movie_list,index: index} %>
									<%end%>
								<%else%>
								No Movie Present with this genre
								<%end%>
							</tbody>
							</table>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
