
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Movies Store
				</h1>
			</div>
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">Brand</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Link</a>
						</li>
						<li>
							<a href="#">Link</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div>
						<button type="submit" class="btn btn-default">
							Submit
						</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Link</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

			</nav>
			<div class="row">	<i>
				<div class="col-md-4">
					<img alt="<% @movies.title %>" src="<%= @movies.image_url %>" class="img-thumbnail" />
				</div>
				<div class="col-md-8">
					<h3>
						<%= @movies.title + " " + "(#{@movies.year})"%> <%= image_tag 'rating.png' ,class: "rating-show-image"%><p class= "rating-show"> <%= @movies.rating %></p>
					</h3>
          <div>
							<b><i>Genre:</i></b>

							<i><%= @movies.genre %></i>
          </div>
          <div>
						<h2>	Plot</h2>

							<p><%= @movies.plot%></p>
          </div>

				</div>
			</div>
			<div class="row up-margin">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<img alt="<% @movies.title %>" src="<%= @movies.image_url %>" class="img-thumbnail" />
								</div>
								<div class="col-md-6">
									<form role="form" class="form-inline">
										<div class="form-group">

											<label for="exampleInputEmail1">
												Email address
											</label>
											<input type="email" class="form-control" id="exampleInputEmail1" />
										</div>
										<div class="form-group">

											<label for="exampleInputPassword1">
												Password
											</label>
											<input type="password" class="form-control" id="exampleInputPassword1" />
										</div>
										<div class="form-group">

											<label for="exampleInputFile">
												File input
											</label>
											<input type="file" id="exampleInputFile" />
											<p class="help-block">
												Example block-level help text here.
											</p>
										</div>
										<div class="checkbox">

											<label>
												<input type="checkbox" /> Check me out
											</label>
										</div>
										<button type="submit" class="btn btn-default">
											Submit
										</button>
									</form>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										Panel title
									</h3>
								</div>
								<div class="panel-body">
									Panel content
								</div>
								<div class="panel-footer">
									Panel footer
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
